<section class="phx-hero">
  <h1>Welcome to Bijou!</h1>
</section>

<section class="row">
  <%= form_for @conn, "", fn f -> %>
    <%= text_input f, :url %>
    <%= submit "Shorten" %>
  <% end %>
</section>
